	.text1 {
		text-shadow: 0px 1px 1px rgba( 50, 50, 50, 96);

	/*	■■■
	 	color: rgb( 217, 76, 252); CSS側で色指定する時
		color: green;
		■■■	*/

	}

	.text2 {
		text-shadow: 0px 1px 2px rgba( 50, 50, 50, 96);
	}

	.text3 {
		text-shadow: 0px 1px 2px rgba( 50, 50, 50, 96);
	}



